@page "/NuevoUsuario"

@inject HttpClient httpClient
@inject NavigationManager navigation
@code {
    Usuario usuarioModel = new Usuario();

    async Task CrearUsuario()
    {
        navigation.NavigateTo($"Usuario/CrearUsuario?username={usuarioModel.UsuarioName}&password={usuarioModel.Password}",true);

    }
}
<div class="container">

    <div class="text-center">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <EditForm Model="usuarioModel" OnSubmit="CrearUsuario" class="form-signin">
                    <img class="mb-4" src="img/Logo.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Registro en PIoT 2020</h1>
                    <label for="inputEmail" class="sr-only">Usuario</label>
                    <InputText @bind-Value="usuarioModel.UsuarioName" type="text" id="inputEmail" class="form-control" placeholder="nombre de usuario" required autofocus />
                    <label for="inputPassword" class="sr-only">contraseña</label>
                    <InputText @bind-Value="usuarioModel.Password" type="password" id="inputPassword" class="form-control" placeholder="contraseña" required />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">registrarse</button>
                    <p class="mt-5 mb-3 text-muted">2020</p>
                </EditForm>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>